@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --text-color: white;
  --text-color-trans: rgb(180, 180, 180);
  --main-color: black;
  --accent: #571da8;
  --accent-org: #7d4bc3;
  --accent-2: #9c6edd;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  color: var(--text-color);
  background-color: var(--main-color);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  box-sizing: border-box;
  height: 5rem;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

nav>.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent);
  height: .5rem;
  width: 100%;
  transition: height .3s ease;
}

nav.expanded>.background {
  height: 5rem;
}

nav>.logo {
  height: 3rem;
  width: 20%;
  position: relative;
}

nav>.logo a {
  display: inline-block;
}

nav>.logo img {
  height: 2rem;
  padding: .5rem;
  pointer-events: none;
}

nav>.links {
  height: 3rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav>.links a {
  display: inline-block;
  color: var(--text-color-trans);
  font-size: 1.1rem;
  padding: .5rem;
  margin-inline: 1rem;
  transition: color .3s ease;
}

nav>.links a:hover {
  color: var(--text-color);
}

nav>.links label {
  display: none;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  fill: var(--text-color);
  cursor: pointer;
}

nav>.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--accent);
  width: 16rem;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  transform: translate(100%);
  transition: transform .3s ease;
}

nav>label {
  position: fixed;
  top: .5rem;
  left: 0;
  width: 0;
  height: calc(100vh - 5rem);
  background-color: black;
  transition: transform .3s ease, opacity .3s ease;
  opacity: 0;
}

nav>.mobile-menu .links {
  display: flex;
  align-items: self-end;
  justify-content: right;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: .5rem 2.5rem;
}

nav>.mobile-menu .links a {
  padding: .25rem .5rem;
}

nav>.mobile-menu label {
  display: block;
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  fill: var(--text-color);
  cursor: pointer;
}

nav>input:checked ~ .mobile-menu {
  transform: translate(0);
}

nav>input:checked ~ .page-cover {
  width: 100vw;
  opacity: .5;
  transform: translate(-16rem);
}

@media (max-width: 600px) {
  nav>.links {
    justify-content: right;
  }
  nav>.links>a {
    display: none;
  }
  nav>.links label {
    display: unset;
  }
}

main {
  padding: 1rem;
}

section.front.home {
  box-sizing: border-box;
  height: calc(100vh - 5.9rem);
  padding: 1rem;
  display: flex;
  align-items: center;
}

section.front.home>div>* {
  display: block;
}

h1#home-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--accent-2);
}

a.link {
  display: block;
  padding: .5rem;
  color: var(--accent-2);
  border: 1px var(--accent-2) solid;
  border-radius: 5px;
  margin: 1rem 0;
  width: 160px;
  transition: all .3s ease;
}

a.link:hover {
  color: var(--text-color);
  background-color: var(--accent-2);
}

section.front.home .arrow-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: 4rem;
  height: 4rem;
  animation: arrow-down 3s cubic-bezier(.66,0,.35,.99) infinite;
}

section.front.home .arrow-down a {
  width: 4rem;
  width: 4rem;
}

@keyframes arrow-down {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1rem);
  }
}

section.sect.home {
  height: 100vh;
  position: relative;
}

section.sect.home img {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
}

section.sect.home img.flipped {
  top: 11rem;
  transform: rotate(90deg);
}

section.front.about {
  box-sizing: border-box;
  height: calc(100vh - 7rem);
  padding: 1rem;
  display: flex;
  align-items: center;
}

section.front.about>img {
  width: calc(50% - 1rem);
  margin-right: 1rem;
  border-radius: .5rem;
}

section.front.about>div {
  width: calc(50% - 1rem);
  margin-left: 1rem;
}

@media (max-width: 600px) {
  section.front.about {
    flex-direction: column;
    justify-content: center;
  }
  
  section.front.about>img {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  section.front.about>div {
    margin: 1rem 0 0 0;
    width: 100%;
    text-align: center;
  }
}

.trans {
  color: var(--text-color-trans);
}

.svg-blob {
  fill: var(--accent-2);
}

.search-bar {
  border: 1px solid var(--text-color-trans);
  border-radius: 5px;
  padding: .5rem;
  box-sizing: border-box;
  height: 3rem;
  width: 30rem;

  display: flex;
  align-items: center;
  transition: border .3s ease;
}

.search-bar:focus,
.search-bar:focus-within {
  border: 1px solid var(--text-color);
}

.search-bar input {
  background: none;
  color: var(--text-color-trans);
  outline: none;
  border: none;
  font-size: 1rem;
  width: calc(30rem - 40px);
  padding: .5rem;
  transition: color .3s ease;
}

.search-bar input:focus {
  color: var(--text-color);
}

.search-bar img {
  width: 1.5rem;
  padding: .5rem;
}